
.titulo-sans {
    font-family: Arial, Helvetica, sans-serif;
}

.fondo-body{
    background-color:azure;
}

body.modo-noche {
    background-color: #242424 !important;
    color: #ffffff !important;
}

body.modo-noche .navbar {
    background-color: #1f1f1f !important;
}

body.modo-noche .nav-link {
    color: #ffffff !important;
}

body.modo-noche table {
    background-color: #1c1c1c;
    color: white;
    
}

body.modo-noche footer {
    background-color: #1f1f1f !important;
}

body.modo-noche .bg-info {
    background-color: #2c2c2c !important;
}

body.modo-noche table, 
body.modo-noche th, 
body.modo-noche td {
    border-color: #292929 !important;
}

body.modo-noche table,
body.modo-noche thead,
body.modo-noche tbody,
body.modo-noche th,
body.modo-noche td {
    background-color: #565656 !important;
    color: #ffffff !important;
}

body.modo-noche .nav{
    color:#747474 !important
}


body.modo-noche .list-group-item {
    background-color: #565656 !important;
    color: #ffffff !important;
    border-color: #292929 !important;
}

body.modo-noche .card {
    background-color: #565656 !important;
    color: #ffffff !important;
    border-color: #888888 !important;
}

body.modo-noche .card-body{
    background-color: #565656 !important;    
}

body.modo-noche .card-text{
    color: #ffffff !important;    
}

body.modo-noche .list-group{
    border-color: #292929 !important;
}

body.modo-noche #formularioDeContacto input.form-control,
body.modo-noche #formularioDeContacto textarea.form-control {
    background-color: #565656;
    color: #ffffff;
    border-color: #888888;
}

body.modo-noche #formularioDeContacto input.form-control::placeholder,
body.modo-noche #formularioDeContacto textarea.form-control::placeholder {
    color: #dddddd;
}
