
.titulo-sans {
    font-family: Arial, Helvetica, sans-serif;
}

.fondo-body{
    background-color:azure;
}

body.modo-oscuro {
    background-color: #242424 !important;
    color: #ffffff !important;
}

body.modo-oscuro .navbar {
    background-color: #1f1f1f !important;
}

body.modo-oscuro .nav-link {
    color: #ffffff !important;
}

body.modo-oscuro table {
    background-color: #1c1c1c;
    color: white;
    
}

body.modo-oscuro footer {
    background-color: #1f1f1f !important;
}

body.modo-oscuro .bg-info {
    background-color: #2c2c2c !important;
}

body.modo-oscuro table, 
body.modo-oscuro th, 
body.modo-oscuro td {
    border-color: #292929 !important;
}

body.modo-oscuro table,
body.modo-oscuro thead,
body.modo-oscuro tbody,
body.modo-oscuro th,
body.modo-oscuro td {
    background-color: #565656 !important;
    color: #ffffff !important;
}

body.modo-oscuro .nav{
    color:#747474 !important
}


body.modo-oscuro .list-group-item {
    background-color: #565656 !important;
    color: #ffffff !important;
    border-color: #292929 !important;
}

body.modo-oscuro .card {
    background-color: #565656 !important;
    color: #ffffff !important;
    border-color: #888888 !important;
}

body.modo-oscuro .card-body{
    background-color: #565656 !important;    
}

body.modo-oscuro .card-text{
    color: #ffffff !important;    
}

body.modo-oscuro .list-group{
    border-color: #292929 !important;
}

body.modo-oscuro #formularioDeContacto input.form-control,
body.modo-oscuro #formularioDeContacto textarea.form-control {
    background-color: #565656;
    color: #ffffff;
    border-color: #888888;
}

body.modo-oscuro #formularioDeContacto input.form-control::placeholder,
body.modo-oscuro #formularioDeContacto textarea.form-control::placeholder {
    color: #dddddd;
}
